

{% extends "base.html" %}
{% load static %}

{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Manage Requests {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'req_leave/style.css' %}">
</head>
<body>
    <section>
    <h1>Manage Requests</h1>
    </section>
    <!-- Add buttons to filter requests -->
    
    </div>

    <script>
        function filterRequests(status) {
            // Redirect to the URL with the selected status as a query parameter
            window.location.href = "{% url 'req_leave:manage_request' %}?status=" + status;
        }
    </script>
        <section>
        <button class="button accept-button" type="button" onclick="filterRequests('pending')">Pending</button>
        <button class="button accept-button" type="button" onclick="filterRequests('accepted')">Accepted</button>
        <button class="button accept-button" type="button" onclick="filterRequests('declined')">Declined</button>
        <button class="button accept-button" type="button" onclick="filterRequests('all')">All</button>
        </section>
    <table>
        <thead>
            <tr>
                <th>Employee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th> Days Requested </th>
                <th>Request Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for leave_request in view_request %}
            <tr>
                <td>{{ leave_request.employee_id }}</td>
                <td>{{ leave_request.start_date }}</td>
                <td>{{ leave_request.end_date }}</td>
                <td>{{ leave_request.days_requested }}</td>
                <td>{{ leave_request.request_type }}</td>
                <td>{{ leave_request.request_status }}</td>
                
                {% if leave_request.request_status == "Pending" %}
                
                <td>
                    <form method="post"
                    action="{% url 'req_leave:update_request_status' pk=leave_request.pk %}">

                        {% csrf_token %}
                        <input type="hidden" name="action" value="accept">
                        <button type="submit" class="button accept-button"> Accept </button>

                    </form>

                    <form method="post"
                    action="{% url 'req_leave:update_request_status' pk=leave_request.pk %}">

                        {% csrf_token %}
                        <input type="hidden" name="action" value="decline">
                        <button type="submit" class="button decline-button"> Decline </button>

                    </form>
                </td>

            {% endif %}

            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No leave requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


{% endblock %}