
{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<html>
<head>

    <meta charset="UTF-8">
    <title> {% block title %} Request Leave {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'req_leave/request.css' %}">

</head>

<body>
    <section>
        <h1> Request Leave </h1>
    </section>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} 
            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}


    <form action="" method="POST"> {% csrf_token %}

        {{ request_form|crispy }}

        <input type="submit" value="Send"/>
    
    </form>

</body>


</html>

{% endblock %}