
{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<html>
<head>

    <meta charset="UTF-8">
    <title> {% block title %} Leave Request {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'req_leave/request.css' %}">

</head>

<body>
    <h1> Request Leave Page 🐙</h1>

    <form action="" method="POST"> {% csrf_token %}

        {{ request_form|crispy }}

        <input type="submit" value="Send"/>
    
    </form>

</body>


</html>

{% endblock %}