
{% extends "base.html" %}
{% load static %}

{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <title> {% block title %} My Requests {% endblock %} </title>

    <link rel="stylesheet" type="text/css" href="{% static 'req_leave/style.css' %}">

    <!-- Calendar's Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'calendar_app/fullcalendar/lib/main.css' %}">
    
    <!-- Setting fixed size -->
    <style>
        #calendar {
            max-width: 1000px; /* Set your desired max-width */
            margin: 0 auto; /* Center the calendar on the page */
            height: 800px; /* Set your desired height */
        }

    </style>

</head>

<body>
    <section>
        <h1> My Requests</h1>
    </section>
    <!-- If incorrect action
        Obsolete given new 
        cancel request check condition -->
        
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} 
            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}

<section>
    <table>
        <thead class="th-banner">
            <tr>
                <th>Employee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th> Days Requested </th>
                <th>Request Type</th>
                <th>Status</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>

            {% for leave_request in view_request %}

            <tr class="th-items">
                <td>{{ leave_request.employee_id }}</td>
                <td>{{ leave_request.start_date }}</td>
                <td>{{ leave_request.end_date }}</td>
                <td>{{ leave_request.days_requested }}</td>
                <td>{{ leave_request.request_type }}</td>
                <td>{{ leave_request.request_status }}</td>
                
                <!-- Remove Button -->
                <td>

                    <!-- Only show button if request is pending -->
                    {% if leave_request.request_status == 'Pending' %}

                    <form method="post" action="{% url 'req_leave:cancel_request' id=leave_request.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn remove-button"> Cancel </button>
                    </form>

                    {% endif %}

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No leave requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<div id="calendar" class="card" style="padding: 10px;"></div>


</body>

<script src="{% static 'calendar_app/fullcalendar/lib/main.js' %}"></script>

<!-- Instanciate Full Calendar -->
<script>

    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById("calendar")
        var calendar = new FullCalendar.Calendar(calendarUI, {

            // Set Time Zone to use the same as Django's settings:
            timeZone: 'UTC',

            // Show list of events (absent days)
            events: [
                // Obtaining absent employees
                {% for absence in view_request %}
                    {

                        {% if absence.request_status == 'Pending' %}
                            title: 'Pending: {{ absence.employee_id }}',
                        {% else %}
                            title: 'Approved: {{ absence.employee_id }}',
                        {% endif %}

                        start: '{{ absence.start_date | date:"Y-m-d" }}',
                        end: '{{ absence.end_date | date:"Y-m-d" }}T23:59:59',
                    }, // Don't forget the comma!

                {% endfor %}

            ]

        });

        calendar.render();
    });

</script>

</html>

{% endblock %}