Django
Pillow
django-crispy-forms
crispy-bootstrap4
django-formtools
django-ckeditor
django-imagekit
django-tables2
django-celery-beat
python-dotenv
crispy_bootstrap4
crispy_bootstrap5
coverage
django-phonenumber-field[phonenumberslite]
whitenoise
