body {
    font-family: Arial, sans-serif;
    background-color: #e9e9f1;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #033047;
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(220, 220, 220);
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


form input[type="radio"] {
    margin-right: 10px;
}

form label[for^="id_"] {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #033047;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #02213f;
}


