body {
    font-family: Arial, sans-serif;
    background-color: #e9e9f1;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #e9e9f1;
    color: #033047;
    padding: 20px;
    text-align: center;
}

/* Viewing Requests */
table {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(220, 220, 220);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #033047;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Manage Buttons */
button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
}

.accept-button,
.decline-button {
    border: 1px solid;
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    transition: 0.32s;
}

.accept-button {
    border-color: #8ecae6;
    background-color: #8ecae6;
    color: #000000;
}

.accept-button:hover {
    background-color: #77b1cb;
}

.remove-button,
.decline-button {
    border-color: #fb8500;
    background-color: #fb8500;
    color: #fff;
    transition: 0.16s;
}

.remove-button:hover,
.decline-button:hover {
    background-color: #e07800;

}


/* Messages */
.messages {
    list-style: none;
    padding: 10px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #033047;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(142, 202, 203);
    border: 1px solid #ddd;
}

.messages li {
    padding: 15px;
    color: white;
    text-align: center;
    border-bottom: 1px solid #fb8500;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(220, 220, 220);
    
}