{% extends './static/base.html'%}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}

  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    
      <img src = "https://github.com/YupiByte/HR-Management/blob/Login-feature/src/hr_management/authentication/templates/authenticate/static/img/logo_penguin.png?raw=true" alt="logo" class="mb-4" style="width: 150px; height: 150px;">
    <br>
    <form style="width: 400px;" action="" method="post">
    {% csrf_token %}
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock content %}