{% extends "base.html" %}

{% block content %}

    <!--Dashboard Blocks-->
    <div class="division-3">
        <h2 class="division-3-title">{{title}}</h2>
        <div class="division-4">
            <div class="division-4-item">
                <p>Section 1</p>
                <button class="button"><a href="{% url 'manage_employees' %}">Manage Employees</a></button>
            </div>
            <div class="division-4-item">
                <p>Section 2</p>
                <button class="button"><a href="{% url 'tmp' %}">Manage Requests</a></button>
            </div>
            <div class="division-4-item">
                <p>Section 3</p>
                <button class="button"><a href="{% url 'tmp' %}">View Calendar</a></button>
            </div>
            <div class="division-4-item">
                <p>Section 4</p>
                <button class="button"><a href="{% url 'tmp' %}">Publications</a></button>
            </div>
        </div>
    </div>

{% endblock %}