{% extends 'base.html' %}
{% block content %}


<div class="col-md-6 offset-md-3">
    <br/><br/>
<h1>Register Employee</h1>
<br/>

<form method="POST" action="">
	{% csrf_token %}
		{% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  The Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

	{{ form.as_p }}

	<br/>
	  <button type="submit" class="btn btn-warning">Register Employee</button>
	</form>
	<br/>
  	<a href="{% url 'manage_employees' %}" class="btn btn-secondary">Cancel</a>

</div>

{% endblock %}