
{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Create Publication {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'publication/style.css' %}">
    

</head>

<body>

    <!-- Posting Publications Field -->
    <section>

        <h2> Create Publication </h2>
        
        <form method="post">
            
            {{form.media}}
            {{form.as_p}}

            {% csrf_token %}

            <button type="submit"> Post </button>

        </form>

    </section>
    <br>
    
    <!-- Showing all Publications -->
    <section>
        <h1> Past Publications</h1>
    </section>
    <br>
        {% for post in publication_post %}
        <section>
        <h2>{{post.title}}</h1>
        <p> {{post.body_description|safe}} </p>
        <p>  Published: {{post.publication_date}} </p>
        

        <!-- Edit Button -->    <!-- Text Decoration none to remove underline -->
        <button class="btn btn-warning"  id= "edit-button"
        href="{% url 'publication:edit_publication' id=post.id %}">Edit</button>   
        <br>
        <hr>
        <!-- Remove Button -->
        <form method="post" 
        action="{% url 'publication:remove_publication' id=post.id %}">

            {% csrf_token %}
            <a type="submit" class="btn btn-danger" id="remove-button">Remove</a>


        </form>
        
        
        </section>
        <br>
        {% endfor %}

    


</body>


</html>
{% endblock %}