body {
    font-family: Arial, sans-serif;
    background-color: #0f0303;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1#publications-header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1#publications-header {
    margin: 0;
    padding: 20px;
}

h1#publications-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

p {
    line-height: 1.6;
}
