
<!-- <ul class="navbar-section">
    <li><a href="{% url 'manage_employees' %}">Employees</a></li>
    <li><a href="{% url 'tmp' %}">Publications</a></li>   
</ul> -->


<nav class="navbar-section">
    <div class="container-fluid">
        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_employees' %}">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tmp' %}">Publications</a>
          </li>        
          
        </ul>
      </div>
    </div>
</nav>