<hr>

<nav class="navbar-section">
    <div class="navbar-section-right">
      <ul>

        {% if user.is_staff %}
          <!--Admin Navigartion Bar-->    
          <p class="nav-item">
            <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
          </p>
          <p class="nav-item">
            <a class="nav-link" href="{% url 'manage_employees' %}">Employees</a>
          </p>
          <p class="nav-item">
            <a class="nav-link" href="{% url 'manage_req' %}">Requests</a>
          </p> 
          <p class="nav-item">
            <a class="nav-link" href="{% url 'publications' %}">Publications</a>
          </p>      
          <p class="nav-item">
            <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
          </p>   


        {% else %}
          <!-- Employee Navigartion Bar-->    
          <p class="nav-item">
            <a class="nav-link" href="{% url 'employee_home' %}">Home</a>
          </p>
          <p class="nav-item">
            <a class="nav-link" href="{% url 'req_leave:submit_request' %}">Requests</a>
          </p> 
          <p class="nav-item">
            <a class="nav-link" href="{% url 'publications' %}">Publications</a>
          </p>      
          <p class="nav-item">
            <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
          </p>   
        {% endif %}
      
        
        </ul>
      </div>
</nav>

<!-- Create a break line between the two navbars -->
<hr>