
<!-- <ul class="navbar-section">
    <li><a href="{% url 'manage_employees' %}">Employees</a></li>
    <li><a href="{% url 'tmp' %}">Publications</a></li>   
</ul> -->


<nav class="navbar-section">
    <div class="container-fluid">
      <p class="nav-item">
        <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
      </p>
      <p class="nav-item">
        <a class="nav-link" href="{% url 'manage_employees' %}">Employees</a>
      </p>
      <p class="nav-item">
        <a class="nav-link" href="{% url 'tmp' %}">Requests</a>
      </p> 
      <p class="nav-item">
        <a class="nav-link" href="{% url 'tmp' %}">Publications</a>
      </p>      
      <p class="nav-item">
        <a class="nav-link" href="{% url 'tmp' %}">Calendar</a>
      </p>       
          
        </ul>
      </div>
    </div>
</nav>